.canbtn {
    background-color: white;
    color: #2196F3;
    padding: 16px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    /*opacity: 0.9;*/
    border-radius: 28px;
    font-size: 20px;
    border: 2px solid #2196F3;
    display: inline-block;
}

.canbtn:hover {
    background-color: #2196F3;
    color: white;
    border-color: #2196F3;
    transition: all .2s ease-in-out;
}